<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>

  <body>
    <div class="app glassy">
      <h1>Weather App</h1>
      <form action="/result" method="post" autocomplete="off">
        <input
          type="text"
          class="form-input"
          name="cityName"
          placeholder="Enter the city"
        />
        <p>Units</p>
        <select name="degree" class="form-select">
          <option value="F">F</option>
          <option value="C">C</option>
        </select>
        <button type="submit">Submit</button>
      </form>  
    </div>
    <% if(error){ %>
      <div class="error-container">
        <img class="error-image" src="error.png" alt="">
        <h3><%= data.error %></h3>
      </div>
    <% } %>
  </body>
</html>
